.houseWhite .houseFace {
    fill: var(--house-white);
}

.houseGray .houseFace {
    fill: var(--house-gray);
}

.houseBrown .houseFace {
    fill: var(--house-brown);
}

.houseRed .houseFace {
    fill: var(--house-red);
}

.housePink .houseFace {
    fill: var(--house-pink);
}

.houseYellow .houseFace {
    fill: var(--house-yellow);
}

.houseGreen .houseFace {
    fill: var(--house-green);
}

.houseBlue .houseFace {
    fill: var(--house-blue);
}

.houseSkyBlue .houseFace {
    fill: var(--house-sky-blue);
}

.housePurple .houseFace {
    fill: var(--house-purple);
}

/* trim */
/* trim and doors get same color pool */
.houseTrimBlack .houseEaves {
    fill: var(--house-trim-black);
}

.houseTrimWhite .houseEaves {
    fill: var(--house-trim-white);
}

.houseTrimGray .houseEaves {
    fill: var(--house-trim-gray);
}

.houseTrimBrown .houseEaves {
    fill: var(--house-trim-brown);
}

.houseTrimBrownDark .houseEaves {
    fill: var(--house-trim-brown-dark);
}

.houseTrimGreen .houseEaves {
    fill: var(--house-trim-green);
}

.houseTrimBlue .houseEaves {
    fill: var(--house-trim-blue);
}

.houseTrimBlueLight .houseEaves {
    fill: var(--house-trim-blue-light);
}

.houseTrimPurple .houseEaves {
    fill: var(--house-trim-purple);
}

/* doors */
.houseDoorBlack .houseDoor {
    fill: var(--house-trim-black);
}

.houseDoorWhite .houseDoor {
    fill: var(--house-trim-white);
}

.houseDoorGray .houseDoor {
    fill: var(--house-trim-gray);
}

.houseDoorBrown .houseDoor {
    fill: var(--house-trim-brown);
}

.houseDoorBrownDark .houseDoor {
    fill: var(--house-trim-brown-dark);
}

.houseDoorGreen .houseDoor {
    fill: var(--house-trim-green);
}

.houseDoorBlue .houseDoor {
    fill: var(--house-trim-blue);
}

.houseDoorBlueLight .houseDoor {
    fill: var(--house-trim-blue-light);
}

.houseDoorPurple .houseDoor {
    fill: var(--house-trim-purple);
}

/* roof */
/* roof and awning get same color pool */
.houseRoofGray .houseRoof {
    fill: var(--house-gray);
}

.houseRoofBlack .houseRoof {
    fill: var(--house-trim-black);
}

/* awning */
.houseAwningGray .houseAwning {
    fill: var(--house-gray);
}

.houseAwningBlack .houseAwning {
    fill: var(--house-trim-black);
}

.garageDoorWhite .garageDoor {
    fill: url(#patternGarageWhite);
}

.garageDoorBlue .garageDoor {
    fill: url(#patternGarageBlue);
}