body {
    --black         : rgb(0, 0, 0);
    --gray-dark     : rgb(51, 51, 51);
    --gray          : rgb(102, 102, 102);
    --gray-light    : rgb(153, 153, 153);
    --gray-lighter  : rgb(204, 204, 204);
    --white         : rgb(255, 255, 255);
    --pink-light    : rgb(255, 204, 204);
    --pink-dark     : rgb(204, 153, 153);
    --pink-darker   : rgb(153, 102, 102);
    --pink          : rgb(255, 153, 153);
    --rose-dark     : rgb(102, 51, 51);
    --rose          : rgb(204, 102, 102);
    --red-lighter   : rgb(255, 102, 102);
    --amaranth      : rgb(153, 51, 51);
    --red-light     : rgb(204, 51, 51);
    --red-darker    : rgb(51, 0, 0);
    --red-dark      : rgb(102, 0, 0);
    --red           : rgb(153, 0, 0);
    --raspberry     : rgb(153, 0, 51);
    --burnt         : rgb(153, 51, 0);
    --tangerine     : rgb(255, 153, 102);
    --coral         : rgb(204, 102, 51);
    --sunset        : rgb(255, 204, 153);
    --sunset-dark   : rgb(204, 153, 102);
    --sunset-darker : rgb(153, 102, 51);
    --orange        : rgb(255, 153, 51);
    --rust          : rgb(102, 51, 0);
    --orange-dark   : rgb(204, 102, 0);
    --caramel       : rgb(153, 102, 0);
    --marigold      : rgb(204, 153, 51);
    --mustard       : rgb(255, 204, 102);
    --ivory         : rgb(255, 255, 204);
    --eggshell      : rgb(204, 204, 153);
    --bone          : rgb(153, 153, 102);
    --yellow        : rgb(255, 255, 153);
    --yellow-dark   : rgb(204, 204, 102);
    --gold-light    : rgb(153, 153, 51);
    --cafe-noir     : rgb(51, 51, 0);
    --gold          : rgb(102, 102, 0);
    --green         : rgb(102, 153, 102);
    --green-dark    : rgb(51, 102, 51);
    --jungle        : rgb(51, 102, 102);
    --green-midnight: rgb(0, 51, 51);
    --oxford        : rgb(0, 0, 51);

    --house-white          : hsl(169, 100%, 98%);
    --house-trim-black     : hsl(330, 2%, 18%);
    --house-trim-white     : hsl(273, 26%, 83%);
    --house-gray           : hsl(10, 10%, 52%);
    --house-trim-gray      : hsl(287, 9%, 60%);
    --house-brown          : hsl(11, 88%, 23%);
    --house-trim-brown     : hsl(14, 38%, 46%);
    --house-trim-brown-dark: hsl(24, 55%, 34%);
    --house-red            : hsl(355, 67%, 26%);
    --house-pink           : hsl(6, 79%, 85%);
    --house-orange         : hsl(28, 100%, 53%);
    --house-yellow         : hsl(40, 94%, 49%);
    --house-green          : hsl(99, 22%, 53%);
    --house-trim-green     : hsl(52, 40%, 32%);
    --house-blue           : hsl(208, 42%, 19%);
    --house-trim-blue      : hsl(145, 11%, 39%);
    --house-sky-blue       : hsl(203, 99%, 66%);
    --house-trim-blue-light: hsl(218, 41%, 74%);
    --house-purple         : hsl(278, 51%, 59%);
    --house-trim-purple    : hsl(263, 49%, 73%);
}