body {
    background-color: rgba(8, 8, 8, 0.5);
    display         : flex;
    align-items     : center;
    justify-content : center;
}

svg {
    position : absolute;
    top      : 0%;
    right    : 0%;
    overflow : visible;
    /* filter: url(#filterCloud) */
}

svg path {
    stroke-width: 1;
    stroke      : black;
}

#draggerContainer {
    position : absolute;
    top      : 90%;
    left     : 50%;
    max-width: 90%;
}

#draggerIcon path {
    fill: var(--white);
}

#messageImg {
    display: none;
}

#messageContainer {
    position        : relative;
    width           : 50%;
    /* min-width    : 683px; */
    border          : solid black 5px;
    display         : none;
    padding         : 1em;
    background-color: rgba(3, 3, 3, 0.3);
    text-shadow     : 3px 0px 1px #FFF, -3px 0px 1px #FFF, 0px -3px 1px #FFF, 0px 3px 1px #FFF;
}

#messageContainer,
.ui-dialog-titlebar-close {
    font-size  : 32px;
    font-weight: bolder;
    text-align : center;
}

.ui-dialog-titlebar-close {
    right  : -12em;
    top    : 2em;
    width  : 2em;
    height : 2em;
    padding: 1px;
    border : none;

    background-color: #C56;
}

#svgContainer {
    background: radial-gradient(var(--red-dark), black);
}

.moveTo {
    visibility: hidden;
}

/* move to a flamingone css */
#torso {
    fill: white;
}

/* maelstrom */
.vortex image {
    width  : 2400;
    height : 2400;
    opacity: 0.5;
}

/* common fills */

.shade,
#secondStreet .lawn {
    filter: url(#filterShade);
}

.lit {
    filter: url(#filterLit);
}

.lawn {
    fill        : url(#patternGrass);
    stroke-width: 0;
}

.stone {
    fill: url(#patternStoneGray);
}

.wood.door,
.wood.fence {
    fill: url(#patternWoodDoor);
}

.road {
    fill  : black;
    height: 50;
}

.noStroke,
.fence,
.driveway,
.walkway,
.curb {
    stroke-width: 0;
}

.details,
.noFill {
    fill: none;
}

.glass,
.houseInterior {
    fill: url(#patternGlass);
}

/* gasStation */

.tongue {
    fill: url(#patternTongue);
}

#hoodUnder {
    fill: url(#rGradPink);
}

.hoodBorder {
    fill: url(#lGradRedDark);
}

.tooth {
    fill: url(#rGradWhite);
}

.glassDoor {
    fill   : white;
    opacity: 0.5;
}

#gasStationLotDark {
    fill        : url(#patternStoneGray);
    stroke-width: 0;
}

#gasStationLot {
    fill: url(#rGradAsphalt);
}

.gasHose {
    fill: var(--black);
}

/* end of gasStation */

/* second street */
.fence.chain {
    fill: url(#patternChainLinkFence);
}

.backGarden {
    fill: darkgreen;
}

.backHouseFace {
    fill: var(--house-trim-black);
}

.backHouse .roof {
    fill: url(#patternShingles);
}

/* end of back house*/

/* University */
.university .face {
    fill: url(#patternBrickRed);
}

.university .window {
    stroke-width: 2;
    fill        : url(#patternStainedGlass);
}

.wroughtIron {
    fill: var(--black);
}

.university .roof,
.crown {
    fill: url(#patternShingles);
}

.plaque {
    fill: url(#patternGold);
}

.clock {
    fill: var(--white);
}

/* end of university */

/* college */
.college .door {
    fill: url(#patternGarageBlue)
}

.collegeEast .face {
    fill: url(#lGradYellowDark);
}

.collegeWest .face {
    fill: url(#lGradRedDark);
}

.collegeRear .face {
    fill: url(#lGradGreenDark);
}

.collegeMain,
.college .roof {
    fill: url(#lGradBlueDark);
}

#collegeMainFace {
    fill: url(#patternFramedGlass);
}

/* end of college */
/* warehouse */
#warehouse .face {
    fill: url(#patternBrickGray);
}

#warehouse .east {
    filter: url(#filterLit);
}

#warehouse .west {
    filter: url(#filterShade);
}

#warehouseGround {
    fill: url(#rGradAsphalt);
}

.bayDoor {
    fill: url(#patternGarageWhite);
}

.warehouse .door {
    fill: url(#lGradRedDark);
}

.checkerPlate {
    fill: url(#patternCheckerPlate);
}

/* end of warehouse */
/* office */

.office .face {
    fill        : url(#patternBrickRed);
    stroke-width: 0;
}

.office .roof {
    fill: url(#lGradBlueDark);
}

/* end of office */

/* end of second streeet */

/* temp rules delete me */
#layer1,
#layer2,
#layer3 {
    /* visibility: hidden; */
}

#houseNo100,
#houseNo101,
#houseNo102,
#houseNo103,
#houseNo104,
#houseNo31,
#secondBlock2 {
    visibility: hidden;
}

#houseNo20 path {
    /* fill: url(#patternCheckerPlate); */
}

/* end of temp rule */